/* -------------------------

CSS RESET
http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
license: none (public domain)

------------------------- */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;

}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* -------------------------

CUSTOM CSS

------------------------- */

:root {
    /* colors */
    --light1: #dfdfdf;
    --light2: #c9c9c9;
    --light3: #a3a2a2;
    --dark1: #2b2b2b;
    --dark2: #1f1f1f;
    --dark3: #121212;
    --secondary: #a963e6;
    --correct: #8df18d;
    --wrong: #f48a86;

    /* font sizes */
    --fontUltraSmall: 16px;
    --fontSmall: 24px;
    --fontMedium: 32px;
    --fontLarge: 42px;
    --fontUltraLarge: 74px;
}

::selection {
    background-color: var(--secondary);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Encode Sans SC';
    font-kerning: none;
    font-size: var(--fontSmall);
    line-height: 1.15;
    color: var(--light2);
}

/* sections */

h1 {
    font-size: var(--fontUltraLarge);
    color: var(--light1);
    font-weight: 800;
    text-align: center;
}

#landing {
    height: 100vh;
    background: linear-gradient(to bottom right, #FF0080, #40E0D0);
    overflow: hidden;
}

#startScreen {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 64px;
}

#gameScreen p,
#gameScreen .options {
    opacity: 0;
}

.scene {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 64px;
}

.prompt {
    font-size: var(--fontMedium);
    color: var(--light1);
    text-align: center;
    margin-bottom: 10px;
    font-weight: 500;
}

#startTimer {
    font-size: var(--fontLarge);
    font-weight: 600;
}

.option {
    font-size: var(--fontMedium);
    color: var(--light1);
    text-align: center;
    margin-bottom: 10px;
    font-weight: 500;
}

.semibold {
    font-weight: 600;
}

/* buttons */

.btnWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}

button,
.button {
    font-size: var(--fontMedium);
    border: 4px solid var(--light1);
    background: none;
    color: var(--light1);
    font-weight: 600;
    margin: auto;
    padding: 10px 64px;
    outline: none;
}

button:hover {
    background-color: var(--light1);
    color: var(--dark2);
    padding: 10px 92px;
    letter-spacing: 3px;
    transition: all 200ms ease;
}

button:active {
    border: 3px solid var(--dark1);
}

.options {
    margin: 32px 0;
}

.option {
    font-size: var(--fontSmall);
    border: 2px solid var(--light1);
    margin: auto;
    padding: 5px 32px;
    margin-bottom: 14px;
}

.option:hover {
    background-color: var(--light1);
    color: var(--dark2);
    padding: 5px 32px;
    letter-spacing: 0;
    transition: all 200ms ease;
}

.option:active {
    border: 2px solid var(--dark1);
}
